[Unit]
Description=Noctis Pro PACS Celery Worker
After=network-online.target
Requires=noctis-pro.service

[Service]
Type=simple
Environment=APP_DIR=/opt/noctispro
WorkingDirectory=%E{APP_DIR}
Environment=DJANGO_SETTINGS_MODULE=noctis_pro.settings
ExecStart=%E{APP_DIR}/venv/bin/celery -A noctis_pro worker -l info
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target